<div id="<%= dom_id tea %>">
  <p class="text-lg leading-loose">
    <%= link_to tea.name, new_purchase_path(params: {name: tea.name}), class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
</div>
